services:
  api:
    build:
      context: .
      dockerfile: .docker/backend/Dockerfile
      target: dev
    volumes:
      - ./backend:/var/www
    ports: ["8080:8080"]
    environment:
      - GO111MODULE=on

  web:
    build:
      context: .
      dockerfile: .docker/frontend/Dockerfile
      target: dev
    volumes:
      - ./frontend:/var/www
      - node_modules_cache:/var/www/node_modules
    ports: ["5173:5173"]
    environment:
      - VITE_API_BASE=http://localhost:8080

volumes:
  node_modules_cache:

